<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>SignSystem</display-name>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.zhongxing.servlet.LoginServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowAllServlet</servlet-name>
    <servlet-class>com.zhongxing.servlet.ShowAllServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ShowAllServlet</servlet-name>
    <url-pattern>/ShowAllServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowOnMonthServlet</servlet-name>
    <servlet-class>com.zhongxing.servlet.ShowOnMonthServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ShowOnMonthServlet</servlet-name>
    <url-pattern>/ShowOnMonthServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowPersonalServlet</servlet-name>
    <servlet-class>com.zhongxing.servlet.ShowPersonalServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ShowPersonalServlet</servlet-name>
    <url-pattern>/ShowPersonalServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>com.zhongxing.servlet.UpdateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SignInServlet</servlet-name>
    <servlet-class>com.zhongxing.servlet.SignInServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SignOffServlet</servlet-name>
    <servlet-class>com.zhongxing.servlet.SignOffServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Insert_uServlet</servlet-name>
    <servlet-class>com.zhongxing.servlet.Insert_uServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>com.zhongxing.servlet.UploadServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.zhongxing.servlet.LogoutServlet</servlet-class>
  </servlet>






  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/UpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SignInServlet</servlet-name>
    <url-pattern>/SignInServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SignOffServlet</servlet-name>
    <url-pattern>/SignOffServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Insert_uServlet</servlet-name>
    <url-pattern>/Insert_uServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>